<html>
<head><title>{{ title }}</title>
    <link href="/css/styles.css" rel="stylesheet">
</head>
<body>
<div class="main-content">
    {{>header}}
    <p>This site was create by Razaq it uses data from mapbox.com</p>
    <img class="portrait" src="/img/razaq.jpg" width="200px"/>
</div>
{{>footer}}
<script src="/js/app.js"></script>
</body>

</html>